doctype html
html
  head
      title Intro to RectJS
      meta(charset='utf-8')
      script(src='slides.js')
      link(href="https://fonts.googleapis.com/css?family=Gravitas+One|Yeseva+One" rel="stylesheet")
      link(rel="stylesheet", href="./grid-styles.css")
      link(rel="stylesheet", href="./prism.css")

      link(href='styles.css'  rel='stylesheet' type='text/css')
      style.
        .grid { display: grid !important; grid-gap: 20px }
        .grid .item { color: black; }
        style { display: inline-grid !important; }
    body
      section.slides.layout-regular.template-default

        article.first
          h1: mark Introduction<br><br>to ReactJS!
        article
          h1: mark Hi, I'm JP Wallhorn
          p: br
          p.sub
            img(src="images/germany-flag.png")
            img(src="images/usa-flag.png")
            img(src="images/germany-flag.png")
            img(src="images/usa-flag.png")


        article
          h2(style="font-size:60px;") These slides will be available shortly<br>after this talk <br>I&apos;ll tweet the link out.
          img(src='images/Twitter_logo_white.png', width='300' style="margin:100px auto")

          h2
            a(href='http://twitter.com/Jaypi_', target='_blank') @Jaypi_

        article
          h1 I have my own company
        article
          a(href='https://www.syntx.io/?utm_source=intro_into_react')
            img(src='/images/syntx-website.png', width='1200')
          a(href='https://www.syntx.io/?utm_source=intro_into_react') Syntx

        article
          h2 Worked with<br><br>Blue Bottle Coffee<br>U.S. GOV<br>Mobile Apps Backends

        article
          h2 Before that I worked for ServiceLink Auction as Engineering Director

        article 
          h2 Implemented React.JS<br>E-Commerce Platform<br>(With focus on SEO)

        article
          h1 Let us talk about<br>ReactJS

        article
          h1 This is the roadmap   

        article
          .grid
            .item What? Why? How?
            .item Foundation
            .item State Management
            .item Create React App
            .item Ressources

        article
          h1 READY?!
          p.sub this.letsDoIt() 

        article
          .grid
            .item.current What? Why? How?
            .item Foundation
            .item State Management
            .item Create React App
            .item Ressources

        article
          h1 What is it?
          p.sub It's not a framework

        article
          h1 JavaScript Library
          p.sub With a rich community

        article
          h2 Handling the View(MVC)<br>User Interface

        article 
          h1 HTML in JavaScript
          p.sub 1st doing it this way

        article
          h1 JSX Support
          p.sub JSX produces React “elements”

        article
          h2 "Allows you to use<br>variables within<br>HTML code"

        article
          h2 All files are getting<br>compiled into one bundle<br>that is getting served<br>to the client
          p.sub The client renders the<br>JavaScript and puts out HTML

        article
          h1 Used to build complex and modern UIs

        article
          h1 Component Based Structure
        
        article
          img(src='/images/components.png')

        article 
          img(src='/images/Udemy.png')

        article 
          h1 App with<br>simple component 

        article
          img(src='./images/screenshots/person-component.png')
          a(href='https://www.syntx.io/?utm_source=intro_into_react') Sandbox

        article 
          h1 Stateful Component

        article
          img(src='./images/screenshots/stateful-component.png')
          a(href='https://reactjs.org/') ReactJS Live Demo

        article
          h1 Component
          p.sub with external
          h1 plugins

        article 
          img(src='./images/screenshots/component-external-class.png')

        article
          .grid
            .item What? Why? How?
            .item.current Foundation
            .item State Management
            .item Create React App
            .item Ressources

        article 
          h1 Foundation
          p.sub Consists of pages, components<br>and containers

        article 
          h1 Page,<br>Component,<br>Container

        article
          h1 Page
          p.sub A page contains<br>containers and components

        article
          h1 Component
          p.sub It represents a small visual<br>block within a page.
        
        article 
          h2 Breaks up dependencies
          h2 Re-usable
          h2 Stateless
          p.sub (Dumb Component)

        article 
          h1 Container
          p.sub A stateful component

        article
          h1 What does<br>that mean?

        article
          h1 Concerned<br>how things<br>work

        article
          h1 Provide data<br>to the<br>behaviour

        article 
          h1 Detailed Comparison
          a(href='https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0') Medium Article by Dan Abramov

        article
          h1 Folder Structure

        article
          img(src='./images/screenshots/folder-structure.png')

        article 
          h1 Props
          p.sub Allows you to pass data from parent<br>(wrapping) component

        article 
          img(src='./images/screenshots/person-component.png')

        article 
          p.sub Triggers UI to
          h1 re-render
          p.sub when changed

        article
          h1 State
          p.sub State is used to change the component<br>from within rather than by parent
          p.sub Also triggers re-rendering

        article
          img(src='./images/screenshots/stateful-component.png')

        article 
          h1 Manipulating the state
        
        article 
          img(src='./images/screenshots/state-manipulation.png')

        article
          h1 What is this<br>re-rendering all about?

        article
          h1 Here's your<br>new ...

        article 
          h1 Wallpaper
          p.sub What's going on???
          p.sub Let me show you

        article
          h1 Component Lifeycle

        article 
          img(src='./images/component-lifeycle.jpeg') 
          a(href='https://twitter.com/dceddia') Credits

        article
          h1 React is a<br>Single Page Application

        article 
          h1 But ... ?

        article 
          h1 React can
          p.sub also be a
          h1 Multi Page Application

        article
          h1 React Router
          p.sub Client-Side Routing

        article
          .grid
            .item What? Why? How?
            .item Foundation
            .item.current State Management
            .item Create React App
            .item Ressources

        article
          h1 Multiple Options
          p.sub Per usual

        article 
          h1 Flux
          p.sub The default library by Facebook

        article
          h1 But then<br>there is ...

        article 
          h1 Redux
          p.sub Pretty much the final enemy
        
        article 
          h1 Architecture

        article 
          img(src='./images/screenshots/redux-architecture.jpg')

        article
          h1 Redux vs Flux
          a(href='https://stackoverflow.com/questions/32461229/why-use-redux-over-facebook-flux') stackoverflow

        article 
          img(src='./images/screenshots/flux-vs-redux.png')

        article
          h1 Context API
          p.sub The new kid on the block<br>to avoid props drilling

        article
          .grid
            .item What? Why? How?
            .item Foundation
            .item State Management
            .item.current Create React App
            .item Ressources

        article 
          h1 Create<br>React<br>App
          p.sub Worry-free starter pack
          a(href='https://github.com/facebook/create-react-app') GitHub

        article 
          h1 Easy installation
        
        article 
          img(src='./images/create-react-app.svg')

        article
          h1 Structure

        article
          img(src='./images/screenshots/create-react-app-folder-structure.png')

        article
          h2 You are lucky<br>Version 2 just<br>got released

        article
          img(src='./images/screenshots/create-react-app-features.png')

        article
          h1 Newest Additions

        article
          h2 CSS and SASS Modules 
          p.sub Really excited about this one

        article
          h1 Some other additions

        article 
          ul.build
            li Babel 7 
            li Webpack 4
            li Jest 23
            li Import SVG as React Component

        article 
          h1 Why worry-free?

        article
          h2 No webpack<br>configuration needed
          p.sub Let me explain what webpack is
        
        article
          h1 Webpack
          p.sub Personally, love everything they do

        article
          h2 Compiles your<br>JavaScript code

        article
          img(src='./images/screenshots/webpack.png')
          p.sub Serves those bundles to the clients

        article 
          h1 You want<br>more?
          p.sub Especially needed for bigger projects

        article
          h1 Eject
          p.sub WARNING! Can not be un-done

        article
          ul.build
            li In charge of dependencies 
            li Opens up webpack configuration

        article
          .grid
            .item What? Why? How?
            .item Foundation
            .item State Management
            .item Create React App
            .item.current Ressources

        article
          h1 Learning by doing
          p.sub Start typing already

        article
          h1 Udemy<br>Course
          a(href='https://www.udemy.com/react-the-complete-guide-incl-redux/') React Complete Guide by Maximilian

        article
          h1 ReactJS
          a(href='https://reactjs.org/') Official Website

        article 
          h1 Wes Bos Courses
          a(href='https://wesbos.com/courses/') Wes Bos Courses

        article
          h1 React Router Training
          a(href='https://reacttraining.com/react-router/') React Training

        article
          h1 Advanced<br>React<br>Workshop
          a(href='https://reach.tech/workshops') Workshop by Ryan Florence

        article
          h1 Finished! 

        article
          h1 Quote by Wes Bos

        article
          h1 React is Evolving
          p.sub but..

        article
          h2 Most of these are<br>additions, not changes
          p.sub They make our applications better!

        article
          h1 I hope this<br>was useful!
          p.sub Any questions?
      script(src='prism.js' data-manual)
      script(src='./custom-highlight.js')
